.Toastify__toast--error {
  background-color: rgb(223, 32, 32); 
  color: black;  
  font-weight: bold;
}

.Toastify__toast--success {
  background-color: rgb(18, 225, 76); 
  color: black; 
  font-weight: bold;
}

.Toastify__toast-container {
  top: 20px;
}
.Toastify__toast--info {
  background-color: #00B0FF; 
  color: black; 
}

